## Machine Leaning 실습

### Classification With Python

In [132]:
# 1. package 가져오기
import pandas as pd
import numpy as np
import sklearn
%config Completer.use_jedi = False

In [133]:
# 2. 데이터 프레임
DF = pd.read_csv('02Social_Network_Ads.csv')
DF

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15566689  Female  35.0          57000.0          0
1    15569641  Female  58.0          95000.0          1
2    15570769  Female  26.0          80000.0          0
3    15570932    Male  34.0         115000.0          0
4    15571059  Female  33.0          41000.0          0
..        ...     ...   ...              ...        ...
395  15813113    Male  40.0         107000.0          1
396  15814004    Male  27.0          20000.0          0
397  15814553    Male  57.0          60000.0          1
398  15814816    Male  31.0          66000.0          0
399  15815236  Female  45.0         131000.0          1

[400 rows x 5 columns]

In [134]:
# 3. 데이터 살펴보기
DF.head()

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15566689  Female  35.0          57000.0          0
1  15569641  Female  58.0          95000.0          1
2  15570769  Female  26.0          80000.0          0
3  15570932    Male  34.0         115000.0          0
4  15571059  Female  33.0          41000.0          0

In [135]:
# 4. feature/label 분리

x= DF.iloc[:, 1:-1]
print(x)

y= DF['Purchased']
print(y)

     Gender   Age  EstimatedSalary
0    Female  35.0          57000.0
1    Female  58.0          95000.0
2    Female  26.0          80000.0
3      Male  34.0         115000.0
4    Female  33.0          41000.0
..      ...   ...              ...
395    Male  40.0         107000.0
396    Male  27.0          20000.0
397    Male  57.0          60000.0
398    Male  31.0          66000.0
399  Female  45.0         131000.0

[400 rows x 3 columns]
0      0
1      1
2      0
3      0
4      0
      ..
395    1
396    0
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [136]:
# 5. 빠진 값 확인 
x.isnull().sum()

Gender              6
Age                10
EstimatedSalary    12
dtype: int64

In [137]:
# 6. Clean Missing Data 1 - numeric
from sklearn.impute import SimpleImputer
mean_imputer =SimpleImputer(strategy = 'mean')
mean_imputer.fit(x.iloc[:, 1:])
x.iloc[:, 1:] =mean_imputer.transform(x.iloc[:, 1:])

In [138]:
x.isnull().sum()

Gender             6
Age                0
EstimatedSalary    0
dtype: int64

## 오류가 나는 이유는, array 2차원으로 shape 변경을 해주어야한다.

In [139]:
x.iloc[:,:1]    # fit에들어가는 형태는 [:,0] 과 같은 형태는 적용되지 않는다. 왜냐하면 0 은 1차원이며
               # :1 == 0 은 같은 의미이지만, 다른 형태를 가지고 있기 때문이다.

     Gender
0    Female
1    Female
2    Female
3      Male
4    Female
..      ...
395    Male
396    Male
397    Male
398    Male
399  Female

[400 rows x 1 columns]

In [140]:
#freq_imputer_gender = SimpleImputer(strategy = 'most_frequent')

#freq_imputer_gender.fit(x.iloc[:,1])
#x.iloc[:,0]= freq_imputer_gender.tranform(x.iloc[:,:1])


freq_imputer=  SimpleImputer(strategy = 'most_frequent')
x.iloc[:,0] = freq_imputer.fit_transform(x.iloc[:,:1])
x.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
dtype: int64

In [141]:
x.isnull().sum()

Gender             0
Age                0
EstimatedSalary    0
dtype: int64

In [142]:
# 7. One hot encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer( [("one_hot_encoder", OneHotEncoder(), [0])], remainder ='passthrough')

x= ct.fit_transform(x)
x

array([[1.00e+00, 0.00e+00, 3.50e+01, 5.70e+04],
       [1.00e+00, 0.00e+00, 5.80e+01, 9.50e+04],
       [1.00e+00, 0.00e+00, 2.60e+01, 8.00e+04],
       ...,
       [0.00e+00, 1.00e+00, 5.70e+01, 6.00e+04],
       [0.00e+00, 1.00e+00, 3.10e+01, 6.60e+04],
       [1.00e+00, 0.00e+00, 4.50e+01, 1.31e+05]])

In [143]:
# 8. split data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size= 0.2, random_state = 42)

In [144]:
# 9. train
from sklearn.linear_model import LogisticRegression
Logistic_model = LogisticRegression()
Logistic_model.fit(X_train, y_train)

LogisticRegression()

In [145]:
# 10. Score
y_pred = Logistic_model.predict(X_test)
print(y_pred)
print(np.array(y_test))

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0]
[0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0
 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 0 0]

In [146]:
# 11. Evaluate

from sklearn.metrics import accuracy_score, precision_score, recall_score

acc = accuracy_score(y_test, y_pred)
pres =  precision_score(y_test, y_pred)
recall= recall_score(y_test, y_pred)

print(acc)
print(pres)
print(recall)

0.7125
0.0
0.0

/anaconda/envs/py38_tensorflow/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [131]:
# 12. Confusion Matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[57  0]
 [23  0]]

In [ ]:
# 13. CM Visualize